.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
  min-width: 100vw;
}

.link {
  padding-left: 10px !important;
}
