.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-top: 1px solid #232323;
  min-width: 100vw;
}
