:root {
  --red: #e92741;
}

a {
  color: var(--red);
}

::selection {
  background-color: var(--red);
  color: white;
}

th {
  text-align: right;
}

ul,
p {
  max-width: 55vw;
}

.no-bullets {
  list-style-type: none;
}

/* li::marker { */
/*   color: var(--red)*/
/* } */
